<div *ngIf="isLoading" class="full-width screen-height flex-row">
    <mat-spinner></mat-spinner>
</div>

<mat-card *ngIf="!isLoading" class="example-card">
    <mat-panel-title>
        <mat-card-title><h2>{{ capsule.name }}</h2></mat-card-title>
    </mat-panel-title>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <strong><u> Type: </u></strong>&nbsp; {{ capsule.type }}
            </mat-list-item>
            <mat-list-item>
                <strong><u> Active:</u></strong>&nbsp; {{ capsule.active }}
            </mat-list-item>
            <mat-list-item>
                <strong><u>Crew capacity: </u></strong>&nbsp; {{ capsule.crew_capacity }}
            </mat-list-item>
            <mat-list-item>
                <strong><u>Sidewall angle deg: </u></strong>&nbsp; {{ capsule.sidewall_angle_deg }}
            </mat-list-item>
            <mat-list-item>
                <strong><u>Orbit duration years: </u></strong>&nbsp; {{ capsule.orbit_duration_yr }}
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>
<br>

<mat-card style="margin-left: 20px;">
    <mat-accordion>
        <mat-panel-title>
            <mat-card-title><h3>Heat shield</h3></mat-card-title>
        </mat-panel-title>
        <mat-list>
            <mat-list-item>
                <strong><u>Material:</u></strong> &nbsp;{{ capsule.heat_shield.material }}
            </mat-list-item>
            <mat-list-item>
                <strong><u>Size (meters):</u></strong> &nbsp;{{ capsule.heat_shield.size_meters }}
            </mat-list-item>
            <mat-list-item>
                <strong><u>Temperature degrees:</u></strong> &nbsp;{{ capsule.heat_shield.temp_degrees }}
            </mat-list-item>
            <mat-list-item>
                <strong><u>Development partner:</u></strong> &nbsp;{{ capsule.heat_shield.dev_partner }}
            </mat-list-item>
        </mat-list>
    </mat-accordion>
</mat-card>
<br>

<mat-card style="margin-left: 20px;">
    <mat-accordion>
        <mat-panel-title>
            <mat-card-title><h3>Launch payload volume</h3></mat-card-title>
        </mat-panel-title>
        <mat-list>
            <mat-list-item>
                <strong><u>Cubic meters:</u></strong> &nbsp;{{ capsule.launch_payload_vol.cubic_meters }}
            </mat-list-item>
            <mat-list-item>
                <strong><u>Cubic feet:</u></strong> &nbsp;{{ capsule.launch_payload_vol.cubic_feet }}
            </mat-list-item>
        </mat-list>
    </mat-accordion>
</mat-card>
<br>
<mat-card style="margin-left: 20px;">
    <mat-accordion>
        <mat-panel-title>
            <mat-card-title><h3>Return payload volume</h3></mat-card-title>
        </mat-panel-title>
        <mat-list>
            <mat-list-item>
                <strong>Cubic meters:</strong> &nbsp;{{ capsule.return_payload_vol.cubic_meters }}
            </mat-list-item>
            <mat-list-item>
                <strong>Cubic feet:</strong> &nbsp;{{ capsule.return_payload_vol.cubic_feet }}
            </mat-list-item>
        </mat-list>
    </mat-accordion>
</mat-card>

<div *ngIf="isLoading" class="full-width screen-height flex-row">
    <mat-spinner></mat-spinner>
</div>
